/* src/assets/css/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@700&display=swap');

/* src/assets/css/index.css */
@import "tailwindcss";

/* Definición de tu nueva identidad visual */
@theme {
  --color-brand-primary: #1d4fd7;
  --color-brand-secondary: #479ee6;
  --color-brand-light: #9fd7e0;
  --color-brand-cream: #f2e8b5;
  --color-brand-accent: #f7c8a1;
  --color-brand-dark: #2b2b2b;
  --color-brand-white: #FFFFFF;
  --color-brand-green: #009c3c;
  --color-brand-red: #ac0000;
  --color-brand-blue: #1a00ac;
  --color-brand-yellow: #aca900;
  
  --font-cooper: "Cooper Black", "Baloo 2", serif;
  --font-sans: "Quicksand", "Nunito", sans-serif;
}

/* Resto de tus estilos base (si tienes alguno) */